name: Deploy

on:
  workflow_call:
  workflow_dispatch:

concurrency: deploy

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write

    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 # v5.1.0
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.IAC_ARN }}
          role-session-name: GitHubActions
