name: Deploy

on:
  workflow_call:
  workflow_dispatch:

concurrency: deploy

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write

    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.IAC_ARN }}
          role-session-name: GitHubActions
